body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.signup {
    position: fixed;
    top: 50%;
    left: 50%;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    width: 400px;
    height: 750px;
    border-radius: 15px;
}

.cardi {
    height: 80px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* max-width: 800px; */
}

.card {
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

input[type=number] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}